				@font-face {
					font-family: 'newyork';
					src: url('6864Newyork.woff2') format('woff2'),
						url('6864Newyork.woff') format('woff');
					  font-display: auto;
				}

				.newyork{font-family: 'newyork' !important;}

						@font-face {
					font-family: 'edensor-free';
					src: url('6521Edensor-free.woff2') format('woff2'),
						url('6521Edensor-free.woff') format('woff');
					  font-display: auto;
				}

				.edensor-free{font-family: 'edensor-free' !important;}

						@font-face {
					font-family: 'over-thingking';
					src: url('62Over-thingking.woff2') format('woff2'),
						url('62Over-thingking.woff') format('woff');
					  font-display: auto;
				}

				.over-thingking{font-family: 'over-thingking' !important;}

						@font-face {
					font-family: 'mogan';
					src: url('9471Mogan.woff2') format('woff2'),
						url('9471Mogan.woff') format('woff');
					  font-display: auto;
				}

				.mogan{font-family: 'mogan' !important;}

						@font-face {
					font-family: 'vensfolk';
					src: url('7592Vensfolk.woff2') format('woff2'),
						url('7592Vensfolk.woff') format('woff');
					  font-display: auto;
				}

				.vensfolk{font-family: 'vensfolk' !important;}

						@font-face {
					font-family: 'vogate';
					src: url('2096Vogate.woff2') format('woff2'),
						url('2096Vogate.woff') format('woff');
					  font-display: auto;
				}

				.vogate{font-family: 'vogate' !important;}

						@font-face {
					font-family: 'delon';
					src: url('9529Delon.woff2') format('woff2'),
						url('9529Delon.woff') format('woff');
					  font-display: auto;
				}

				.delon{font-family: 'delon' !important;}

						@font-face {
					font-family: 'achava';
					src: url('6699Achava.woff2') format('woff2'),
						url('6699Achava.woff') format('woff');
					  font-display: auto;
				}

				.achava{font-family: 'achava' !important;}

						@font-face {
					font-family: 'capella';
					src: url('7375Capella.woff2') format('woff2'),
						url('7375Capella.woff') format('woff');
					  font-display: auto;
				}

				.capella{font-family: 'capella' !important;}

						@font-face {
					font-family: 'gadish';
					src: url('767Gadish.woff2') format('woff2'),
						url('767Gadish.woff') format('woff');
					  font-display: auto;
				}

				.gadish{font-family: 'gadish' !important;}

						@font-face {
					font-family: 'history';
					src: url('632History.woff2') format('woff2'),
						url('632History.woff') format('woff');
					  font-display: auto;
				}

				.history{font-family: 'history' !important;}

						@font-face {
					font-family: 'qagetto';
					src: url('4192Qagetto.woff2') format('woff2'),
						url('4192Qagetto.woff') format('woff');
					  font-display: auto;
				}

				.qagetto{font-family: 'qagetto' !important;}

						@font-face {
					font-family: 'queen-rogette';
					src: url('4535Queen-Rogette.woff2') format('woff2'),
						url('4535Queen-Rogette.woff') format('woff');
					  font-display: auto;
				}

				.queen-rogette{font-family: 'queen-rogette' !important;}

						@font-face {
					font-family: 'romland';
					src: url('1951ROMLAND.woff2') format('woff2'),
						url('1951ROMLAND.woff') format('woff');
					  font-display: auto;
				}

				.romland{font-family: 'romland' !important;}

						@font-face {
					font-family: 'starsight';
					src: url('3233Starsight.woff2') format('woff2'),
						url('3233Starsight.woff') format('woff');
					  font-display: auto;
				}

				.starsight{font-family: 'starsight' !important;}

						@font-face {
					font-family: 'gabyan';
					src: url('9462Gabyan.woff2') format('woff2'),
						url('9462Gabyan.woff') format('woff');
					  font-display: auto;
				}

				.gabyan{font-family: 'gabyan' !important;}

						@font-face {
					font-family: 'analogue';
					src: url('3106Analogue.woff2') format('woff2'),
						url('3106Analogue.woff') format('woff');
					  font-display: auto;
				}

				.analogue{font-family: 'analogue' !important;}

						@font-face {
					font-family: 'fugi';
					src: url('5760Fugi.woff2') format('woff2'),
						url('5760Fugi.woff') format('woff');
					  font-display: auto;
				}

				.fugi{font-family: 'fugi' !important;}

						@font-face {
					font-family: 'ginger';
					src: url('3902Ginger.woff2') format('woff2'),
						url('3902Ginger.woff') format('woff');
					  font-display: auto;
				}

				.ginger{font-family: 'ginger' !important;}

						@font-face {
					font-family: 'granola';
					src: url('2843Granola.woff2') format('woff2'),
						url('2843Granola.woff') format('woff');
					  font-display: auto;
				}

				.granola{font-family: 'granola' !important;}

						@font-face {
					font-family: 'grande';
					src: url('4497Grande.woff2') format('woff2'),
						url('4497Grande.woff') format('woff');
					  font-display: auto;
				}

				.grande{font-family: 'grande' !important;}

						@font-face {
					font-family: 'sugar';
					src: url('6436Sugar.woff2') format('woff2'),
						url('6436Sugar.woff') format('woff');
					  font-display: auto;
				}

				.sugar{font-family: 'sugar' !important;}

						@font-face {
					font-family: 'ginkgo';
					src: url('571Ginkgo.woff2') format('woff2'),
						url('571Ginkgo.woff') format('woff');
					  font-display: auto;
				}

				.ginkgo{font-family: 'ginkgo' !important;}

						@font-face {
					font-family: 'calista';
					src: url('3667Calista.woff2') format('woff2'),
						url('3667Calista.woff') format('woff');
					  font-display: auto;
				}

				.calista{font-family: 'calista' !important;}

						@font-face {
					font-family: 'satisfy';
					src: url('3203Satisfy.woff2') format('woff2'),
						url('3203Satisfy.woff') format('woff');
					  font-display: auto;
				}

				.satisfy{font-family: 'satisfy' !important;}

						@font-face {
					font-family: 'ginger-modern';
					src: url('4990Ginger-Modern.woff2') format('woff2'),
						url('4990Ginger-Modern.woff') format('woff');
					  font-display: auto;
				}

				.ginger-modern{font-family: 'ginger-modern' !important;}

						@font-face {
					font-family: 'south-amsterdam';
					src: url('1625South-Amsterdam.woff2') format('woff2'),
						url('1625South-Amsterdam.woff') format('woff');
					  font-display: auto;
				}

				.south-amsterdam{font-family: 'south-amsterdam' !important;}

						@font-face {
					font-family: 'girly-style';
					src: url('681Girly-Style.woff2') format('woff2'),
						url('681Girly-Style.woff') format('woff');
					  font-display: auto;
				}

				.girly-style{font-family: 'girly-style' !important;}

						@font-face {
					font-family: 'just-sunday-bold';
					src: url('9179Just-Sunday-Bold.woff2') format('woff2'),
						url('9179Just-Sunday-Bold.woff') format('woff');
					  font-display: auto;
				}

				.just-sunday-bold{font-family: 'just-sunday-bold' !important;}

						@font-face {
					font-family: 'just-sunday';
					src: url('8131Just-Sunday.woff2') format('woff2'),
						url('8131Just-Sunday.woff') format('woff');
					  font-display: auto;
				}

				.just-sunday{font-family: 'just-sunday' !important;}

						@font-face {
					font-family: 'gardenisa';
					src: url('9685Gardenisa.woff2') format('woff2'),
						url('9685Gardenisa.woff') format('woff');
					  font-display: auto;
				}

				.gardenisa{font-family: 'gardenisa' !important;}

						@font-face {
					font-family: 'bartes-malaga';
					src: url('1233Bartes-Malaga.woff2') format('woff2'),
						url('1233Bartes-Malaga.woff') format('woff');
					  font-display: auto;
				}

				.bartes-malaga{font-family: 'bartes-malaga' !important;}

						@font-face {
					font-family: 'geraldo-island';
					src: url('8814Geraldo-Island.woff2') format('woff2'),
						url('8814Geraldo-Island.woff') format('woff');
					  font-display: auto;
				}

				.geraldo-island{font-family: 'geraldo-island' !important;}

						@font-face {
					font-family: 'scholastica';
					src: url('9370Scholastica.woff2') format('woff2'),
						url('9370Scholastica.woff') format('woff');
					  font-display: auto;
				}

				.scholastica{font-family: 'scholastica' !important;}

						@font-face {
					font-family: 'charlotte-southern';
					src: url('3822Charlotte-Southern.woff2') format('woff2'),
						url('3822Charlotte-Southern.woff') format('woff');
					  font-display: auto;
				}

				.charlotte-southern{font-family: 'charlotte-southern' !important;}

						@font-face {
					font-family: 'giava';
					src: url('702Giava.woff2') format('woff2'),
						url('702Giava.woff') format('woff');
					  font-display: auto;
				}

				.giava{font-family: 'giava' !important;}

						@font-face {
					font-family: 'kuinca';
					src: url('4398KUINCA.woff2') format('woff2'),
						url('4398KUINCA.woff') format('woff');
					  font-display: auto;
				}

				.kuinca{font-family: 'kuinca' !important;}

						@font-face {
					font-family: 'migrand';
					src: url('1147Migrand.woff2') format('woff2'),
						url('1147Migrand.woff') format('woff');
					  font-display: auto;
				}

				.migrand{font-family: 'migrand' !important;}

						@font-face {
					font-family: 'modern-chengo';
					src: url('5765Modern-Chengo.woff2') format('woff2'),
						url('5765Modern-Chengo.woff') format('woff');
					  font-display: auto;
				}

				.modern-chengo{font-family: 'modern-chengo' !important;}

						@font-face {
					font-family: 'gosten';
					src: url('6197Gosten.woff2') format('woff2'),
						url('6197Gosten.woff') format('woff');
					  font-display: auto;
				}

				.gosten{font-family: 'gosten' !important;}

						@font-face {
					font-family: 'balmond';
					src: url('8560Balmond.woff2') format('woff2'),
						url('8560Balmond.woff') format('woff');
					  font-display: auto;
				}

				.balmond{font-family: 'balmond' !important;}

						@font-face {
					font-family: 'balmond-outline';
					src: url('8435Balmond-Outline.woff2') format('woff2'),
						url('8435Balmond-Outline.woff') format('woff');
					  font-display: auto;
				}

				.balmond-outline{font-family: 'balmond-outline' !important;}

						@font-face {
					font-family: 'delmone';
					src: url('9483DELMONE.woff2') format('woff2'),
						url('9483DELMONE.woff') format('woff');
					  font-display: auto;
				}

				.delmone{font-family: 'delmone' !important;}

						@font-face {
					font-family: 'milenial';
					src: url('7697Milenial.woff2') format('woff2'),
						url('7697Milenial.woff') format('woff');
					  font-display: auto;
				}

				.milenial{font-family: 'milenial' !important;}

						@font-face {
					font-family: 'rolate';
					src: url('8919ROLATE.woff2') format('woff2'),
						url('8919ROLATE.woff') format('woff');
					  font-display: auto;
				}

				.rolate{font-family: 'rolate' !important;}

		